<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764339883783-vuhn4pq6f6cfjtauug7r2cr8kruquqo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764339883783-vuhn4pq6f6cfjtauug7r2cr8kruquqo1</string>
	<key>API_KEY</key>
	<string>AIzaSyD9mP0VdxSmZmOZvdDgL1lpN6q-0ke2uZk</string>
	<key>GCM_SENDER_ID</key>
	<string>764339883783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.registroConductaAppV2</string>
	<key>PROJECT_ID</key>
	<string>registroconductaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>registroconductaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764339883783:ios:10395dc7b4d3e8c78d7fa2</string>
</dict>
</plist>